<ul class="menu nav navbar-nav navbar-right">
  <li class="expanded dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">Idiomas</a>
    <ul class="dropdown-menu" id="lang-switcher">
      <li class=" active first"><a href="/es/art%C3%ADculos" class="active"><img class="language-icon" typeof="foaf:Image" src="https://www.aveula.com/sites/all/modules/contrib/languageicons/flags/es.png" width="16" height="12" alt="Español" title="Español" /> Español</a></li>
      <li class=""><a href="/en/articles" class=""><img class="language-icon" typeof="foaf:Image" src="https://www.aveula.com/sites/all/modules/contrib/languageicons/flags/en.png" width="16" height="12" alt="English" title="English" /> English</a></li>
      <li class=" last"><a href="/de/artikel" class=""><img class="language-icon" typeof="foaf:Image" src="https://www.aveula.com/sites/all/modules/contrib/languageicons/flags/de.png" width="16" height="12" alt="Deutsch" title="Deutsch" /> Deutsch</a></li>
    </ul>
  </li>
</ul>
<div class="region region-navigation">
  <div id="block-superfish-1" class="block block-superfish clearfix">
    <div class="content">
      <ul id="superfish-1" class="menu sf-menu sf-menu-aveula-menu-espanol sf-horizontal sf-style-none sf-total-items-4 sf-parent-items-1 sf-single-items-3">
        <li id="menu-1250-1" class="first odd sf-depth-1 sf-no-children"><a href="/es" title="" class="sf-depth-1">Inicio</a></li>
        <li id="menu-1251-1" class="middle even sf-depth-1 sf-total-children-4 sf-parent-children-0 sf-single-children-4 menuparent">
          <a href="/es/servicios" title="" class="sf-depth-1 menuparent">Servicios</a>
          <ul>
            <li id="menu-1841-1" class="first odd sf-depth-2 sf-no-children"><a href="/es/servicios/adquisici%C3%B3n-y-venta-de-empresas" class="sf-depth-2">Adquisición y venta de empresas</a></li>
            <li id="menu-1289-1" class="middle even sf-depth-2 sf-no-children"><a href="/es/servicios/outsourcing" class="sf-depth-2">Outsourcing</a></li>
            <li id="menu-1255-1" class="middle odd sf-depth-2 sf-no-children"><a href="/es/servicios/patrimonio" class="sf-depth-2">Patrimonio</a></li>
            <li id="menu-1700-1" class="last even sf-depth-2 sf-no-children"><a href="/es/servicios/oportunidades-de-negocio" class="sf-depth-2">Oportunidades de negocio</a></li>
          </ul>
        </li>
        <li id="menu-1311-1" class="middle odd sf-depth-1 sf-no-children"><a href="/es/art%C3%ADculos" title="" class="sf-depth-1 active">Artículos</a></li>
        <li id="menu-1306-1" class="last even sf-depth-1 sf-no-children"><a href="/es/contacto" title="" class="sf-depth-1">Contacto</a></li>
      </ul>
    </div>
  </div>
</div>
