<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="ltr">

<head>
  <title>{{ site.title }}</title>
  <!-- HTML5 element support for IE6-8 -->
  <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body class="html front no-sidebars page-node i18n-es parallax-active sff-7 slff-7 hff-7 pff-7 form-style-1 sliding-popup-processed">
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">{{ "Skip to main content" }}</a>
  </div>
</body>
</html>
