<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="ltr">

<head>
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/js/flexslider/flexslider.css">
  <link rel="stylesheet" href="/assets/js/rs-plugin/css/settings.css">
  <link rel="stylesheet" href="/js/magnific-popup/magnific-popup.css">
  <link rel="stylesheet" href="/assets/main.css">
  <!-- HTML5 element support for IE6-8 -->
  <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.min.js"></script>
  <![endif]-->
  <script type="text/javascript" src="/assets/js/jquery-1.12.4.min.js">
  <script type="text/javascript" src="/assets/js/flexslider/jquery.flexslider.js">
  </script>
  <script type="text/javascript" src="/assets/js/rs-plugin/js/jquery.themepunch.tools.min.js">
  </script>
  <script type="text/javascript" src="/assets/js/rs-plugin/js/jquery.themepunch.revolution.min.js">
  </script>
  <script type="text/javascript" src="/assets/js/jquery.browser.min.js">
  <script type="text/javascript" src="/assets/js/magnific-popup/jquery.magnific-popup.js">
  </script>
</head>
<body class="html front no-sidebars page-node i18n-es parallax-active sff-7 slff-7 hff-7 pff-7 form-style-1 sliding-popup-processed">
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">{{ "Skip to main content" }}</a>
  </div>
</body>
</html>
